@{
    ViewBag.Title = "EditAttendance";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@using CMS.Models
@model System.Collections.Generic.List<StudentAttendance>

<head>
    <script src="~/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script src="~/bootstrap-3.3.4-dist/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="~/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />

    <meta name="viewport" content="width=device-width" />
    <title>Edit Attendance</title>

    <script>
        $(document).ready(function () {
            $("#checkAll").click(function (event) {
                if ($('#checkAll').attr('checked')) {
                    $("input").attr("checked", true);
                }
                else {
                    $("input").attr("checked", false);
                }
            });

            $("input").click(function (event) {
                if (!$(event.target).attr('checked')) {
                    $("#checkAll").attr("checked", false);
                }
            });
        });
    </script>

</head>
<form role="form" method="post" action="UpdateAttendance">
    <div class="row">


        <div class="form-group form-inline">
           <input type="hidden" class="alert-success form-control" name="date" value="@ViewBag.dateToEdit" readonly />
            
            <input type="hidden" name="courseId" value="@ViewBag.courseId" />
        </div>

    </div>
    <br />
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Roll #</th>
                    <th>Name</th>
                    <th><input type="checkbox" id="checkAll" /> (@ViewBag.dateToEdit.ToString("d"))</th>
                    @foreach (var obj in Model)
                    {
                        foreach (var atend in obj.Attendance)
                        {
                            <th>@atend.Date.ToShortDateString() <br /> @Html.ActionLink("Edit", "EditAttendance", new { courseId = ViewBag.courseId, date = atend.Date })</th>
                        }
                        break;
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Student.RollNo</td>
                        <td>@obj.Student.Name</td>
                        @if(obj.Attendance.First(x=>x.Date.Equals(ViewBag.dateToEdit)).Status)
                        {
                        <td><input name="@("chk_"+obj.Student.Id)" type="checkbox" checked /></td>
                        }
                        else
                        {
                            <td><input name="@("chk_"+obj.Student.Id)" type="checkbox" /></td>
                        }

                        @foreach (var atend in obj.Attendance)
                        {
                            if (atend.Status)
                            {
                                <td class="text-success">P</td>
                            }
                            else
                            {
                                <td class="text-danger"> A</td>
                            }
                        }

                    </tr>
                }

            </tbody>
        </table>
        <input type="submit" class="btn btn-success pull-right" value="Update Attendance" />

    </div>

</form>
