@model System.Collections.Generic.List<CMS.Models.File>

@{
    ViewBag.Title = "FileManager";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<head>
    <script src="~/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script src="~/bootstrap-3.3.4-dist/js/bootstrap.min.js" type="text/javascript"></script>


    <link href="~/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />

    <meta name="viewport" content="width=device-width" />
    <title>File Manager</title>

</head>

<div class="row" style="padding-top:20px">
    <legend>Add File</legend>
    <form action="~/Teacher/AddFile" method="post" enctype="multipart/form-data">
        <input type="hidden" name="courseId" value="@ViewBag.CourseId" />

        <input type="text" name="Title" placeholder="File Title" class="form-group form-inline" required/>

        <input type="file" name="Name" class="form-group form-inline" required />

        <input type="submit" class="btn btn-primary" value="Add File" />
    </form>
   
</div>

<div class="row" style="padding-top:20px">
    <h2>Files</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Title
                </th>
                <th>
                    File Name
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Delete", "DeleteFile", new { fid = item.Id, tid = item.TeacherId, cid = item.CourseId }) |
                        @Html.ActionLink("Download", "DownloadFile", new { fid = item.Id, tid = item.TeacherId, cid = item.CourseId })
                    </td>
                </tr>
                
                @(index++)
            }
        </tbody>
    </table>
</div>
